@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table table-striped table-bordered" id="rankingTable">
    </table>
</div>

@section Scripts {
    $(document).ready(function () {
        initTable();
    });

    function initTable() {
        const table = $('#tableList').DataTable({
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, 'All']],
            paging: true,
            processing: true,
            serverSide: true,
            filter: true,
            ordering: true,
            order: [[1, 'asc']]
        });
    }
}